@use './Cluster.tokens';

.cluster {
  display: flex;
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.gapXs {
  gap: var(--cluster-gap-xs);
}

.gapSm {
  gap: var(--cluster-gap-sm);
}

.gapMd {
  gap: var(--cluster-gap-md);
}

.gapLg {
  gap: var(--cluster-gap-lg);
}

.gapXl {
  gap: var(--cluster-gap-xl);
}

.gap2xl {
  gap: var(--cluster-gap-2xl);
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
  justify-content: space-between;
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.alignBaseline {
  align-items: baseline;
}
