@use './Calendar.tokens';

.weekView {
  display: flex;
  flex-direction: column;
  border: var(--border-width) solid var(--calendar-border-color);
  border-radius: var(--calendar-radius);
  overflow: hidden;
  background: var(--calendar-bg);
}
