@use './Stack.tokens';

.stack {
  display: flex;
  flex-direction: column;
}

.gapXs {
  gap: var(--stack-gap-xs);
}

.gapSm {
  gap: var(--stack-gap-sm);
}

.gapMd {
  gap: var(--stack-gap-md);
}

.gapLg {
  gap: var(--stack-gap-lg);
}

.gapXl {
  gap: var(--stack-gap-xl);
}

.gap2xl {
  gap: var(--stack-gap-2xl);
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.alignStretch {
  align-items: stretch;
}
