@use './Page.tokens';

.root {
  display: flex;
  flex-direction: column;
}

.gapXs {
  gap: var(--page-gap-xs);
}

.gapSm {
  gap: var(--page-gap-sm);
}

.gapMd {
  gap: var(--page-gap-md);
}

.gapLg {
  gap: var(--page-gap-lg);
}

.gapXl {
  gap: var(--page-gap-xl);
}

.gap2xl {
  gap: var(--page-gap-2xl);
}
